# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore terraform variables
*.tfvars
terraform.tfvars

# Ignore lock files
.terraform.lock.hcl

# Ignore all .terraform directories at any level
.terraform/
**/.terraform/



# Optional: Ignore crash logs
crash.log
todo-shared-key.pem